<div *ngIf="hero">
  <h2>{{ hero.name | convertToSpace: '_' | uppercase }} Details</h2>
  <div><span>id: </span>{{ hero.id }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name" />
  </div>
  <div>
    <label for="hero-power">Hero power: </label>
    <app-star [power]="hero.power"></app-star>
    <input type="number" id="hero-power" [(ngModel)]="hero.power" placeholder="power" />
  </div>
</div>
<button type="button" (click)="goBack()">Back</button>
